<div class="demo-component">
  <nav class="nav nav-component">
    <ul class="list">
      <li class="item nav-item" data-ui-sref-active="-active">
        <a class="anchor" data-ui-sref="front">Front Page</a>
      </li>
      <li class="item nav-item" data-ui-sref-active="-active">
        <a class="anchor" data-ui-sref="contact">Contact Page</a>
      </li>
    </ul>
  </nav>
  <div class="workspace pagination-workspace">
    <div class="viewport">
      <tmtkn-paginator>
        <tmtkn-page-headers>
          <tmtkn-page-header data-ui-view="header">
            <div>
              <p>Header</p>
            </div>
          </tmtkn-page-header>
        </tmtkn-page-headers>
        <tmtkn-paginator-content data-ui-view></tmtkn-paginator-content>
        <tmtkn-page-footers>
          <tmtkn-page-footer data-ui-view="footer"></tmtkn-page-footer>
        </tmtkn-page-footers>
      </tmtkn-paginator>
    </div>
  </div>
</div>
