<div>
  <div class="paginator-section">
    <h1>Contact</h1>
  </div>
  <form>
    <div class="form-group">
      <label for="views/states/contact/email">Email address</label>
      <input class="form-control" id="views/states/contact/email" type="email" name="email" placeholder="Email address">
    </div>
    <div class="form-group">
      <label for="views/states/contact/message">Message</label>
      <textarea class="form-control" id="views/states/contact/message" name="message"></textarea>
    </div>
  </form>
</div>
